$font-stack: "Helvetica"
$text-color: #fff
$text-color-secondary: #a6a6a6
$body-bg-color: #050505ec
$bg-color: #10081a
$bg-color-secondary: #1d1d1d
$conatiner-border-radius: 10px
$foto-border-radius: 150px
$card-border-redius: 5px
$gradient: linear-gradient(to right, #063df0 0%, #ad0af8 100%)